h1 code {
  color: black;
}

h1 {
    width: 100vw;
  margin-top: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.video-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150vw;
  height: 105vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

table {
  min-width: 350px;
  width: 70vw;
}

.table-container{
    padding:30px 67px;
    background: #000a;
}

td {
  padding: 10px 20px;
  border: 1px solid white;
}

td h2{
    margin: 0;
}
