<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One Direction | Tours</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous" />

    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/tours.css" />
  </head>
  <body class="relative">
    <nav
      class="text-white navbar navbar-expand-lg navbar-light p-0"
      style="height: 80px">
      <a
        class="text-white font-weight-bold"
        href="./home.html"
        style="height: 80px"
        ><img src="../images/logo.jpg" style="height: 100%"
      /></a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link m-0" href="home.html"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="members.html"
              >Members <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="albums.html"
              >Albums <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="tours.html"
              >Tours <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="background">
      <div class="video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/19ZmKjJiibg?version=3&amp;autoplay=1&amp;mute=1&amp;showinfo=0&amp;html5=1&amp;loop=1&amp;playlist=19ZmKjJiibg&amp;enablejsapi=1"
          id="widget2"
          data-gtm-yt-inspected-21="true"
          data-gtm-yt-inspected-27="true"
          data-gtm-yt-inspected-32="true"
          title="One Direction - Tour 2015"></iframe>
      </div>
    </div>

    <div class="main w-full">
      <h1 class="bg-white"><code>Past Event Tours</code></h1>

      <div class="table-container">
        <table>
          <thead>
            <td colspan="2"><h2 style="text-align: center">EUROPE</h2></td>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Location</td>
            </tr>
            <tr>
              <td>31.10.15</td>
              <td>Sheffield, GB, Motorpoint Arena</td>
            </tr>

            <tr>
              <td>27.10.15</td>
              <td>Newcastle, GB, Metro Radio Arena</td>
            </tr>

            <tr>
              <td>22.10.15</td>
              <td>Belfast, GB, SSE Arena</td>
            </tr>

            <tr>
              <td>18.10.15</td>
              <td>Dublin, IE, 3Arena</td>
            </tr>

            <tr>
              <td>12.10.15</td>
              <td>Birmingham, GB, Barclaycard Arena</td>
            </tr>

            <tr>
              <td>08.10.15</td>
              <td>Glasgow, GB, SSE Hydro Arena</td>
            </tr>

            <tr>
              <td>04.10.15</td>
              <td>Manchester, GB, Manchester Arena</td>
            </tr>

            <tr>
              <td>30.09.15</td>
              <td>London, GB, O2 Arena</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <td colspan="2">
              <h2 style="text-align: center">NORTH AMERICA</h2>
            </td>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Location</td>
            </tr>
            <tr>
              <td>12.09.15</td>
              <td>Boston, Massachusetts, US, Gillette Stadium</td>
            </tr>
            <tr>
              <td>09.09.15</td>
              <td>Ottawa, Ontario, CA, Canadian Tire Centre</td>
            </tr>
            <tr>
              <td>01.09.15</td>
              <td>Philadelphia, Pennsylvania, US, Lincoln Financial Field</td>
            </tr>
            <tr>
              <td>27.08.15</td>
              <td>Cleveland, Ohio, US, FirstEnergy Stadium</td>
            </tr>
            <tr>
              <td>5.08.15</td>
              <td>East Rutherford, New Jersey, US, MetLife Stadium</td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <td colspan="2">
              <h2 style="text-align: center">ASIA</h2>
            </td>
          </thead>
          <tbody>
            <tr>
              <td><strong>Date</strong></td>
              <td><strong>Location</strong></td>
            </tr>
            <tr>
              <td>25.03.15</td>
              <td>Jakarta, ID, Stadium Utama Gelora Bung Karno</td>
            </tr>
            <tr>
              <td>21.03.15</td>
              <td>Manila, PH, Mall Of Asia Concert Ground</td>
            </tr>
            <tr>
              <td>18.03.15</td>
              <td>Hong Kong, HK, Asia World Expo</td>
            </tr>
            <tr>
              <td>14.03.15</td>
              <td>Bangkok, TH, Rajamangala Stadium</td>
            </tr>
            <tr>
              <td>11.03.15</td>
              <td>Singapore, SG, National Stadium</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container">
      <footer class="pt-3 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="home.html" class="nav-link px-2 text-muted">Home</a>
          </li>
          <li class="nav-item">
            <a href="members.html" class="nav-link px-2 text-muted">Members</a>
          </li>
          <li class="nav-item">
            <a href="albums.html" class="nav-link px-2 text-muted">Albums</a>
          </li>
          <li class="nav-item">
            <a href="tours.html" class="nav-link px-2 text-muted">Tours</a>
          </li>
        </ul>
        <p class="text-center text-muted">© 2024 One Direction FanClub</p>
      </footer>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
</html>
